.idea/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.buildlog
.build/
/build/
.dart_tool/
.flutter-plugins
.generated/
pubspec.lock
**/build/
**/.dart_tool/
**/platforms/**
*.iml
*.class
*.jar
*.war
*.ear
*.keystore
key.jks
*.log
.DS_Store
.vscode/
*.keystore
android/key.properties
